@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

:root {
  --primary: #343a40;
  --secondary: #3e444a;
  --off-white: #c2c7d0;
  --white: #ffffff;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f4f6f9;
  font-size: 14px;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.cursor-pointer {
  cursor: pointer;
}

/* ------------------------------------
    LOGIN
 ------------------------------------ */
.bg-login {
  margin: 0;
  background: url("https://img.freepik.com/free-photo/green-tea-bud-leaves-green-tea-plantations-morning_335224-955.jpg?w=2000&t=st=1668658171~exp=1668658771~hmac=e14ca6a08d57f638576408fcfd4fd2ae700308a9a431222adcd4970407175033")
    no-repeat center center fixed;
  background-size: cover;
  position: relative;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.App {
  display: flex;
  width: 100%;
  max-height: 100vh;
  height: 100vh;
  align-items: stretch;
}

.sidebar {
  min-width: 250px;
  max-width: 250px;
  background: var(--primary);
  color: var(--white);
  margin-left: -250px;
  transition: all 0.5s;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
}

.sidebar.is-open {
  margin-left: 0;
  transition: 0.5s;
}

.sidebar-header {
  background: var(--primary);
}

.sidebar-header h3 {
  color: var(--white);
  padding: 1em;
}

.sidebar ul p {
  color: var(--white);
  padding: 10px;
}

.menu-open {
  background: var(--primary);
}

.btn-menu-toggle {
  background-color: var(--primary);
}

.side-menu .nav-link {
  color: var(--white);
}

.nav-link:hover,
.nav-item:hover {
  cursor: pointer;
}
.nav-item:hover {
  color: var(--white);
  background: var(--secondary);
}
.nav-item .active,
.nav-link .active {
  color: var(--white);
  background: var(--secondary);
}

.items-menu {
  color: var(--off-white);
  background: var(--secondary);
  padding: 0 0.5rem 0 0.5rem;
}

li a.dropdown-toggle.open::after {
  display: inline-flex;
  float: right;
  top: 10px;
  position: relative;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

li a.dropdown-toggle.close::after {
  display: inline-flex;
  float: right;
  top: 10px;
  position: relative;
  content: "";
  border-bottom: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-top: 0;
  border-left: 0.3em solid transparent;
}

.sidebar-header > span {
  position: relative;
  float: right;
  margin: 0.5em;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.side-menu {
  height: calc(100vh - 130px);
  overflow-y: scroll;
}

.side-menu::-webkit-scrollbar {
  width: 10px;
}

.side-menu::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 3px;
}

.side-menu::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.content {
  padding: 20px;
  margin-left: 0;
  height: 100vh;
  overflow-y: scroll;
}

@media only screen and (max-width: 500px) {
  /* body {
    overflow: hidden;
  } */

  .content.is-open {
    margin-left: 100%;
  }

  .sidebar.is-open {
    min-width: 100%;
    max-width: 100%;
    margin-left: 0;
    transition: all 0.5s, height 0s;
  }

  .sidebar.is-open > .sidebar-header span {
    display: unset;
  }

  li a.dropdown-toggle::after {
    display: inline-block;
    position: relative;
    left: 68%;
  }
}

button,
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

[aria-required]::after {
  content: "*";
  color: red;
}

.cursor:hover {
  cursor: pointer;
}

/* ---------------------------------------------------
    DASHBOARD
----------------------------------------------------- */
.dashboard-tile {
  display: flex;
  flex-direction: column;
  height: 180px;
  width: calc(25% - 0.75rem);
  margin: 0 0.75rem 0.75rem 0;
  color: var(--white);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.dashboard-tile > div:first-child {
  flex: 1;
}

@media screen and (max-width: 1306px) {
  .dashboard-tile {
    width: calc(30% - 0.75rem);
  }
}

@media screen and (max-width: 1230px) {
  .dashboard-tile {
    width: calc(33% - 0.75rem);
  }
}

@media screen and (max-width: 1080px) {
  .dashboard-tile {
    width: calc(50% - 0.75rem);
  }
}

@media screen and (max-width: 882px) {
  .dashboard-tile {
    width: calc(100%);
  }
}

/* ---------------------------------------------------
    REACT DATA TABLE COMPONENT
----------------------------------------------------- */
.rdt_Table {
  margin-top: 1rem;
}

.rdt_TableHead {
  border-bottom: 1px solid #e8eaf6;
}

.rdt_TableHeadRow {
  font-weight: 800;
}

.rdt_TableRow:nth-child(even) .rdt_TableCell {
  background-color: #f4f6f9;
}

.rdt_TableRow:hover {
  cursor: pointer;
}

.rdt_Pagination {
  border-top: none;
}
